
.card-body{

  border-radius: 10px;
}

.traffic-details__cards {

  display: flex;
  position: absolute;
  bottom: -1rem;
  right: 4rem;

  button {

    height: 35px;
    margin: 10px;
    text-align: center;



    span {
      margin-top: -3px;
    }

  }
  button:hover {
    background-color: #FA916B;
  }
}
