.inner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #0c213a;
  color: white;

}

.dark .inner-content {
  background-color: #0c213a;
}

.right-column {
  display: grid;
}